@import '../../node_modules/vuetify/src/stylus/settings/_colors'

$theme := {
  // primary set
  primary: #3c688b
  primary--darken: #2b577a
  primary--darken-2: #1a4669
  // accent set
  accent: white
  accent--darken: $grey.lighten-3
  accent--darken-2: $grey.lighten-2
  // secondary set
  secondary: $grey.darken-2
  secondary--darken: $amber.darken-2
  secondary--darken-2: $amber.darken-3
  // alert sets
  info: $blue.lighten-1
  warning: $amber.darken-2
  error: $red.accent-4
  success: $green.lighten-2
}

/** Stylus Styles */
@import '../../node_modules/vuetify/src/stylus/main'
